<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <header>
          <nav>
               <ul>
                    <li> About Us</li>
                    <li> Mission</li>
                    <li> New-Items</li>
                    <li> Location</li>
               </ul>
          </nav>
     </header>
     <div>
          <h1> Welcome to Henok's Shop!!</h1>
          <p>We are pleased to help you </p>
     </div>
</body>
</html>